<template>
    <div class="Int simulation" style="max-width: 1170px">
        <div class="container text-center">
            <h2 class="block-title">Simulez votre microcrédit en ligne</h2>
            <form id="pret-form" method="post" action="/">
                <div class="col-md-4">
                    <input type="text" name="montant" v-model="montant"  placeholder="Montant*" class="form-control" maxlength="5" id="pret-montant">
                </div>
                <div class="col-md-4">
                    <input type="text" id="pret-duree" v-model="duree"  name="duree" class="form-control" maxlength="2" value="12">&nbsp; mois
                </div>
                <div class="col-md-4">
                    <input type="submit" class="submit button" value="Calculer" v-on:click="simule($event)">
                </div>
                <!--<span class="min">* 10 000 &euro; maximum</span>-->
            </form>
            <div class="clearfix"></div>
            <div class="total col-md-3">
                <p class="title">Total emprunté</p>
                <p class="min-res res"><span id="total-emprunt" >{{montant | currency}} </span></p>
            </div>
            <div class="duree col-md-3">
                <p class="title">Durée de remboursement</p>
                <p class="min-res res"><span v-if="duree" id="duree-remb">{{duree}} mois</span></p>
            </div>
            <div class="montant col-md-3">
                <p class="title">Montant échéance</p>
                <p class="min-res res"><span id="pret-montant-ech">{{mensualite | currency}} </span></p>
            </div>
            <div class="cout col-md-3">
                <p class="title">Coût total du financement</p>
                <p class="res"><span id="pret-cout-total">{{coutCredit | currency}} </span></p>
            </div>
            <div class="clearfix"></div>
            <div><a href="/orientation" class="button color0" style="text-decoration:none;">Je demande un microcrédit en ligne</a></div>
            <p class="minilinks">
                <a href="#">Conditions de prêt</a><br>
                <a href="#">Rencontrez Sofinco, mode d'emploi</a>
            </p>
        </div>
    </div>

</template>

<script>
    export default {
        name: "Simulateur",
        data() {
            return {
                montant:null,
                duree: null,
                taux: 0.045
            }
        },
        computed: {
            //attention calcul faux : juste pour tester
            mensualite() {
                return this.montant * (1 + this.taux) / this.duree;
            },
            //attention calcul faux : juste pour tester
            coutCredit() {
                return this.taux * this.montant;
            }
        },
        methods: {
            simule(event) {
                console.log("rien à faire avec Vue !")
                event.preventDefault()
            }
        }
    }
</script>

<style scoped>
    /*! CSS Used from: Embedded */
    /*! @import https://www.adieconnect.fr/modules/system/system.base.css?pgbyw7 */
    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    /*! end @import */
    /*! CSS Used from: https://cdn.jsdelivr.net/bootstrap/3.0.2/css/bootstrap.css ; media=all */
    @media all {
        a {
            background: transparent;
        }

        a:focus {
            outline: thin dotted;
        }

        a:active, a:hover {
            outline: 0;
        }

        input {
            margin: 0;
            font-family: inherit;
            font-size: 100%;
        }

        input {
            line-height: normal;
        }

        input[type="submit"] {
            cursor: pointer;
            -webkit-appearance: button;
        }

        input::-moz-focus-inner {
            padding: 0;
            border: 0;
        }

        @media print {
            * {
                color: #000 !important;
                text-shadow: none !important;
                background: transparent !important;
                box-shadow: none !important;
            }

            a, a:visited {
                text-decoration: underline;
            }

            a[href]:after {
                content: " (" attr(href) ")";
            }

            p, h2 {
                orphans: 3;
                widows: 3;
            }

            h2 {
                page-break-after: avoid;
            }
        }
        *, *:before, *:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        input {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
        }

        a {
            color: #428bca;
            text-decoration: none;
        }

        a:hover, a:focus {
            color: #2a6496;
            text-decoration: underline;
        }

        a:focus {
            outline: thin dotted #333;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

        p {
            margin: 0 0 10px;
        }

        .text-center {
            text-align: center;
        }

        h2 {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 500;
            line-height: 1.1;
            color: inherit;
        }

        h2 {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 30px;
        }

        .container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .container:before, .container:after {
            display: table;
            content: " ";
        }

        .container:after {
            clear: both;
        }

        .container:before, .container:after {
            display: table;
            content: " ";
        }

        .container:after {
            clear: both;
        }

        .col-md-3, .col-md-4 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        @media (min-width: 768px) {
            .container {
                width: 750px;
            }
        }
        @media (min-width: 992px) {
            .container {
                width: 970px;
            }

            .col-md-3, .col-md-4 {
                float: left;
            }

            .col-md-4 {
                width: 33.33333333333333%;
            }

            .col-md-3 {
                width: 25%;
            }
        }
        @media (min-width: 1200px) {
            .container {
                width: 1170px;
            }
        }
        .form-control {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #555555;
            vertical-align: middle;
            background-color: #ffffff;
            background-image: none;
            border: 1px solid #cccccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }

        .form-control:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }

        .form-control:-moz-placeholder {
            color: #999999;
        }

        .form-control::-moz-placeholder {
            color: #999999;
        }

        .form-control:-ms-input-placeholder {
            color: #999999;
        }

        .form-control::-webkit-input-placeholder {
            color: #999999;
        }

        .clearfix:before, .clearfix:after {
            display: table;
            content: " ";
        }

        .clearfix:after {
            clear: both;
        }
    }

    /*! CSS Used from: Embedded */
    /*! @import https://www.adieconnect.fr/sites/default/themes/bootstrap/css/3.0.2/overrides.min.css?pgbyw7 */
    p:last-child {
        margin-bottom: 0;
    }

    input {
        max-width: 100%;
        width: auto;
    }

    /*! end @import */
    /*! @import https://www.adieconnect.fr/sites/default/themes/bootstrap_adieco/css/style.css?pgbyw7 */
    /*! @import https://www.adieconnect.fr/sites/default/themes/bootstrap_adieco/css/normalize.css */
    a {
        background: transparent;
    }

    a:focus {
        outline: thin dotted;
    }

    a:active, a:hover {
        outline: 0;
    }

    input {
        font-family: inherit;
        font-size: 100%;
        margin: 0;
    }

    input {
        line-height: normal;
    }

    input[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
    }

    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    @media print {
        * {
            text-shadow: none !important;
            color: #000 !important;
            background: transparent !important;
            box-shadow: none !important;
        }

        a, a:visited {
            text-decoration: underline;
        }

        a[href]:after {
            content: " (" attr(href) ")";
        }

        p, h2 {
            orphans: 3;
            widows: 3;
        }

        h2 {
            page-break-after: avoid;
        }
    }

    *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /*! end @import */
    /*! @import https://www.adieconnect.fr/sites/default/themes/bootstrap_adieco/css/bootstrap.css */
    input {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    a {
        color: #bbcc2a;
        text-decoration: none;
    }

    a:hover, a:focus {
        color: #818d1d;
        text-decoration: underline;
    }

    a:focus {
        outline: thin dotted #333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    p {
        margin: 0 0 10.5px;
    }

    .text-center {
        text-align: center;
    }

    h2 {
        font-family: dosisregular;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
    }

    h2 {
        margin-top: 21px;
        margin-bottom: 10.5px;
    }

    h2 {
        font-family: dosislight;
    }

    h2 {
        font-size: 34px;
    }

    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .container:before, .container:after {
        content: " ";
        display: table;
    }

    .container:after {
        clear: both;
    }

    .container:before, .container:after {
        content: " ";
        display: table;
    }

    .container:after {
        clear: both;
    }

    .col-md-3, .col-md-4 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }

    @media (min-width: 992px) {
        .container {
            width: 970px;
        }

        .col-md-3, .col-md-4 {
            float: left;
        }

        .col-md-4 {
            width: 33.33333333%;
        }

        .col-md-3 {
            width: 25%;
        }
    }

    @media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }

    .form-control {
        display: block;
        width: 100%;
        height: 35px;
        padding: 6px 12px;
        font-size: 15px;
        line-height: 1.42857143;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    .form-control:-moz-placeholder {
        color: #999999;
    }

    .form-control::-moz-placeholder {
        color: #999999;
    }

    .form-control:-ms-input-placeholder {
        color: #999999;
    }

    .form-control::-webkit-input-placeholder {
        color: #999999;
    }

    .clearfix:before, .clearfix:after {
        content: " ";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

    p:last-child {
        margin-bottom: 0;
    }

    input {
        max-width: 100%;
        width: auto;
    }

    /*! end @import */
    a:active, a:focus, a:visited, a:link {
        text-decoration: none;
        border: none;
        outline: none;
    }

    a.color0 {
        color: #bbcc2a;
    }

    input, .form-control {
        height: auto;
    }

    .Int.simulation {
        background-color: #e8f0f6;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .Int.simulation input {
        height: 40px;
        border-radius: 0;
        margin: 5px 0;
    }

    .Int.simulation h2:before {
        font-family: adiepeps;
        content: "\e815";
        display: block;
    }

    .Int.simulation input.button {
        width: 100%;
        background-color: #fff;
        color: #bbcc2a;
        padding: 0;
    }

    .Int.simulation .total, .Int.simulation .duree, .Int.simulation .montant, .Int.simulation .cout {
        margin: 15px 0;
        font-family: dosisregular;
    }

    .Int.simulation .total .title, .Int.simulation .duree .title, .Int.simulation .montant .title, .Int.simulation .cout .title {
        font-size: 20px;
        margin-bottom: 0;
    }

    .Int.simulation .total .res, .Int.simulation .duree .res, .Int.simulation .montant .res, .Int.simulation .cout .res {
        font-size: 30px;
    }

    .Int.simulation .total, .Int.simulation .montant {
        color: #bbcc2a;
    }

    .Int.simulation .duree, .Int.simulation .cout {
        color: #747474;
    }

    .Int.simulation .minilinks {
        margin-top: 10px;
    }

    .Int.simulation .minilinks a {
        font-family: dosisregular;
        text-decoration: underline;
        color: #747474;
    }

    h2.block-title {
        margin: 50px auto;
        text-align: center;
        font-size: 70px;
        color: #bbcc2a;
        max-width: 1120px;
    }

    @media (max-width: 1024px) {
        h2.block-title {
            font-size: 33px !important;
            line-height: 35px;
            margin: 30px auto 15px auto !important;
        }
    }

    .button, a.button {
        display: inline-block;
        border-radius: 2px;
        color: white;
        font-family: dosisregular;
        font-size: 22px;
        font-weight: 500;
        text-decoration: none;
        padding: 10px 20px;
    }

    @media (max-width: 1200px) {
        .button, a.button {
            font-size: 16px;
        }
    }

    @media (max-width: 750px) {
        .button, a.button {
            padding: 10px 10px;
        }
    }

    .button:hover, a.button:hover {
        text-decoration: none;
    }

    .button.color0, a.button.color0 {
        color: #fff;
        background-color: #bbcc2a;
    }

    .button.color0:hover, a.button.color0:hover {
        background-color: #97a803;
        color: #fff;
    }

    input.button {
        padding: 15px 70px;
        line-height: normal;
        border: none;
    }

    .Int.simulation .duree .title {
        font-size: 20px;
        margin-bottom: 0;
    }

    /*! CSS Used fontfaces */
    @font-face {
        font-family: 'dosisregular';
        font-style: normal;
    }

    @font-face {
        font-family: 'dosislight';
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'adiepeps';
        src: url('/assets/fonts/adiepeps.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }


</style>