<template>
    <Simulateur />
</template>

<script>
import Simulateur from './components/Simulateur.vue'

export default {
  name: 'app',
  components: {
      Simulateur
  }
}
</script>

<style>

</style>
